.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:none;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:black;border-style:none;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-8zwo{font-style:italic;text-align:left;margin-left:50px;margin-right:50px;vertical-align:top}
.tg .tg-bxdl{color:#F00;text-align:left;vertical-align:top}
.tg .tg-rrhm{color:#F00;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-6t3r{font-style:italic;font-weight:bold;text-align:left;vertical-align:top}